body{
    font-family: "raleway", sans-serif;
    margin: 0;
}
/*header*/
header{
    max-width: 1400px;
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    font-size: 21px;
    font-weight: 800;
}

h3{
    font-size: 16px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 14px;
    font-weight: 500;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 0 0;
}

nav img{
    height: 40px;
    padding-top: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0px;
}

nav li{
    margin: 0px 20px 0px 20px;
    padding: 52px 0 10px 0;
    border: transparent solid 2px;
}

nav li:hover{
    color: #0065FC;    
    border-top: #0065FC solid 2px;
}

/*main*/

/*bouton recherche*/
form{
    width: 410px;
    height: 50px;
    display: flex;
    align-items: center;
    background: #F2F2F2;
    border-radius: 20px;
}
.svg-inline--fa{
    margin: 20px;
}

#marseille_france{
    height: 46px;
    width: 230px;
    border: #F2F2F2 solid 1px;
}

#rechercher{
    background: #0065FC;
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 0 20px 20px 0;
    color: white;
}

/*filtres*/

#filtres{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 20px 0 20px 0;
}

#filtres h3{
    margin: 0 20px 0 0;
}

.filtres{
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    border: solid 2px #F2F2F2;
    border-radius: 25px;
    border-left: none;
}

.background_filtres{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEEBFF;
    width: 44px;
    height: 44px;
    border-radius: 25px;
}

.filtres a{
    text-decoration: none;
    padding: 10px 22px 10px 10px ;
    font-size: 16px;
    font-weight: 800;
    color: black;
}

/*information*/

#information{
    display: flex;
    align-items: center;
}

#information img{
    margin-right: 10px;
}

#information p{
    font-size: 15px;
}

/*cards*/

#container_cards_gauche{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#section_cards{
    display: flex;
}


#container_cards_gauche h3{
    margin: 0px;
}

#cards_gauche{
    width: 850px;
    height: 610px;
    background: #F2F2F2;
    margin-right: 30px;
    border-radius: 20px;
}

#cards_gauche h2{
    margin: 40px 0 20px 30px;
}

.card{
    width: 240px;
    height: 195px;
    background: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
    box-shadow: 1px 2px 5px rgb(206, 206, 206);
}

.card_image{
    width: 240px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card_corp{
    display: flex;
    flex-direction: column;
    margin: 0 0 1px 5px;
}

.card_corp p{
    margin: 0;
}

.card_corp img{
    margin-bottom: 1px;
}


#afficher_plus{
    margin: 0 0 30px 30px;
}


/*aside*/

aside{
    background: #F2F2F2;
    border-radius: 20px;
    width: 410px;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entete{
    width: 320px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

#container_card_droit{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_droit{
    width: 320px;
    display: flex;    
    background: white;
    border-radius: 18px;
    padding: 5px;
    box-shadow: 1px 2px 5px rgb(206, 206, 206);
    margin-bottom: 30px;
}

.card_image_droit{
    width: 115px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

/*activites a marseille*/

#container_carte_basse{

    margin: 0 55px 0 55px;
}

#titre_carte_basse{
    width: 100%;
    height: auto;
}

#cartes_basse{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

#cartes_basse h3{
    margin: 10px;
}


#vieux_port{
    background: white;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#vieux_port img{
    width: 320px;
    height: 480px;
    border-radius: 20px 20px 0 0;
}

#paumegues{
    background: white;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#paumegues img{
    width: 280px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#iles_du_frioul{
    background: white;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#iles_du_frioul img{
    width: 280px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#calanques{
    background: white;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#calanques img{
    width: 320px;
    height: 480px;
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#notre-dame{
    background: white;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#notre-dame img{
    width: 280px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#parc-longchamp{
    background: white;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

#parc-longchamp img{
    width: 280px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 2px 5px rgb(206, 206, 206)
}

/*footer*/

footer{
    display: flex;
    background: #F2F2F2;
    width: 1349px;
    height: auto;
}

.lien_footer{
    width: 33%;
    margin: 30px;
    line-height: 1.5;
}

footer ul{
    padding: 0px;
}

footer li{
    list-style: none;
}
